<div class="w-md mx-auto my-5 ">
  <h3 class="text-lg font-semibold mb-3">1. Line Chart</h3>
  <canvas baseChart
          [data]="lineChartData"
          [options]="lineChartOptions"
          [type]="lineChartType"
          [legend]="lineChartLegend"
          class="w-full h-64">
  </canvas>
</div>

<div class="w-md mx-auto my-5 ">
  <h3 class="text-lg font-semibold mb-3">2. Bar Chart</h3>
  <canvas baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [type]="barChartType"
          [legend]="barChartLegend"
          class="w-full h-64">
  </canvas>
</div>

<div class="w-md mx-auto my-5">
  <h3 class="text-lg font-semibold mb-3">3. Radar Chart</h3>
  <canvas baseChart
          [data]="radarChartData"
          [options]="radarChartOptions"
          [type]="radarChartType"
          [legend]="radarChartLegend"
          class="w-full h-64">
  </canvas>
</div>

<div class="w-md mx-auto my-5">
  <h3 class="text-lg font-semibold mb-3">4. Polar Area Chart</h3>
  <canvas baseChart
          [data]="polarAreaChartData"
          [options]="polarAreaChartOptions"
          [type]="polarAreaChartType"
          [legend]="polarAreaChartLegend"
          class="w-full h-64">
  </canvas>
</div>

<div class="w-md mx-auto my-5">
  <h3 class="text-lg font-semibold mb-3">5. Pie Chart</h3>
  <canvas baseChart
          [data]="pieChartData"
          [options]="pieChartOptions"
          [type]="pieChartType"
          [legend]="pieChartLegend"
          class="w-full h-64">
  </canvas>
</div>

<div class="w-md mx-auto my-5">
  <h3 class="text-lg font-semibold mb-3">6. Doughnut Chart</h3>
  <canvas baseChart
          [data]="doughnutChartData"
          [options]="doughnutChartOptions"
          [type]="doughnutChartType"
          [legend]="doughnutChartLegend"
          class="w-full h-64">
  </canvas>
</div>

<div class="w-md mx-auto my-5">
  <h3 class="text-lg font-semibold mb-3">7. Bubble Chart</h3>
  <canvas baseChart
          [data]="bubbleChartData"
          [options]="bubbleChartOptions"
          [type]="bubbleChartType"
          [legend]="bubbleChartLegend"
          class="w-full h-64">
  </canvas>
</div>

<div class="w-md mx-auto my-5">
  <h3 class="text-lg font-semibold mb-3">8. Scatter Chart</h3>
  <canvas baseChart
          [data]="scatterChartData"
          [options]="scatterChartOptions"
          [type]="scatterChartType"
          [legend]="scatterChartLegend"
          class="w-full h-64">
  </canvas>
</div>
